.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.bottom{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;

  button {
    margin-bottom: 10px;
  }
}

.logo {
  margin: 20px 0;
  height: 60px;
  width: 120px;

}