<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <heron-side-nav [links]="LINKS"></heron-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    
    <mat-toolbar>
      <ng-container class="greet"> 
      <h3>Dobrodošel</h3>     
       <div *ngIf="(user$ | async) as user" class="user">
        <h3>{{ user.name }}</h3>
        <h3>{{ user.surname }}</h3>
      </div>
      </ng-container>

      <button (click)="test()">test</button>
    </mat-toolbar>
        
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
