html, body {
    height: 100%;
    margin: 0;
  }
  
  mat-drawer-container {
    height: 100%;
    width: 100%; 
    background-color: rgb(243, 238, 255);
   }
  
  mat-drawer {
    min-width: 150px;
    width: auto;
    -webkit-box-shadow: 10px 10px 22px -9px rgba(181,181,181,1);
    -moz-box-shadow: 10px 10px 22px -9px rgba(181,181,181,1);
    box-shadow: 10px 10px 22px -9px rgba(181,181,181,1);
  }
  
  mat-drawer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  mat-toolbar {
    position: relative;
    background-color: #005cbb;
    min-height: 50px;
    margin-bottom: 15px;
    z-index: -10;
  }


  h3{
    color: white;
  }

  .user{
    display: flex;
    h3 {
      margin-left: 4px;
    }
  }